<h2>Perché questo sito?</h2>

<p>
 All'inizio fu solo una lista appesa in salottino brutto a casa della nonna, nella quale
 ogni partecipante scriveva i propri desideri.
 Poi col tempo e con l'evoluzione delle comunicazioni si è passato alle email
 ed al <a href="https://sites.google.com/site/25sera/" target="_blank">sito web</a>,
 in cui ognuno mandava una email ad un poveraccio che aggiornava le pagine del suddetto 
 <a href="https://sites.google.com/site/25sera/" target="_blank">sito web</a>. 
 <br>
 Oggi si ritorna alla cara vecchia lista, soltanto realizzata attraverso un sito web (o meglio una 
 "<a href="http://it.wikipedia.org/wiki/Applicazione_Web" target="_blank">Applicazione Web</a>").
 Non ci sarà più un poveraccio che aggiorna le pagine, ma ciascuno potrà aggiornare la sua,
 anche se probabilmente ci sarà comunque un poveraccio che terrà aggiornata la suddetta 
 applicazione web.
</p>

<h2>Riconoscimenti</h2>

<p>
	La vaghezza di questo sito mi punse già qualche anno fa, ma è stato solo quando 
	ho scoperto il <a href="http://ruby.railstutorial.org" target="_blank">tutorial</a> 
	di <a href="http://rubyonrails.org" target="_blank">Ruby on Rails</a> scritto da 
	<a href="http://www.michaelhartl.com" target="_blank">Micheal Hartl</a> 
	che ho trovato i mezzi tecnologici per realizzarla. 
</p>
