<div class="center hero-unit">
  <h1><%= t ".welcome_text" %></h1>

  <h2>
    <%= t ".welcome_subtext" %>
  </h2>

  <%= link_to t(:signup), signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>