<% provide(:title, t('.title')) %> 
<h1><%= t('.head') %></h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@desire) do |f| %>
		<div class="field">
			<%= f.text_area :content %>
		</div>
		<%= f.submit t("button.save_changes"), class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>