<%= form_for(current_user.build_relationship(followed_id: @user.id), 
						 remote: true) do |f| %>
  <div><%= f.hidden_field :followed_id %></div>
  <%= f.submit t("button.follow"), class: "btn btn-large btn-primary" %>
<% end %>