<% if @feed_items.any? %>
  <ol class="desires">
    <%= render partial: 'shared/feed_item', collection: @feed_items %>
  </ol>
  <%#= will_paginate @feed_items %>
<% else %>
  <p>
    <%= t('.no_desires_yet') %>
  </p>
<% end %>
