<% @user ||= current_user %>
<div class="stats">
  <a href="#">
    <%= @user.followed_user ? t('.you_follow_someone_html') : t('.you_follow_no_one_html') %>
  </a>
  <a href="#">
    <%= @user.follower ? t('.someone_following_you_html') : t('.no_one_following_you_html') %>   
  </a>
</div>