<footer>
	<small>
		<a href="https://github.com/pbmolini/venti5sera" target="_blank"><%= icon('github') %> | Venti5sera</a>
		by <a href="http://it.linkedin.com/in/pietromolini" target="_blank">Pietro Molini | <%= icon('linkedin') %></a>
	</small>
	<nav>
		<ul>
			<li><%= link_to raw("#{icon('info-circle')} About"), about_path %></li>
			<li><a href="http://www.corriere.it" target="_blank"><%= icon('external-link') %> News</a></li>
		</ul>
	</nav>
</footer>
