<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body style="background-color: #f2f5fe">
  	<div style="width:600px;height:100%;margin:0 auto;font: 12px/1.4 Verdana,Arial,sans-serif;background:#FFF;color: #444;padding:1em">
  	<p><%= t("user_mailer.hi_user", user: @admin ? @admin.name : @user.name) %>,</p>

    <%= yield %>
    <br>
    <p><%= t('user_mailer.thanks') %></p>
    <p><%= t('user_mailer.signature') %></p>
  </div>
  </body>
</html>